.MainContent {
  display: flex;

  align-items: center;
  width: 100vw;
  height: 90vh;
}
.content {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
